@charset "UTF-8";

/* Fuzzy Bubbles font */
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

/* Nunito Sans font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fuzzy Bubbles";
    background-color: #1f1f1f;
}

img {
    display: block;
    border-radius: 10px;
    margin: 15vh auto 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.3em;
    margin-top: 20px;
    color: #ffd664;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2em;
    color: #FFFFFF;
}

.button {
    font-family: 'Nunito Sans';
    display: block;
    border: none;
    cursor: pointer;
}

#exe-button {
    margin: 70px auto 0 auto;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ffd664;
    font-size: 1em;

    transition: background-color 0.1s ease-out;
}

#exe-button:hover {
    background-color: #FFFFFF;
}

#open-dialog-button {
    margin: 50px auto 30px auto;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 0.9em;
}

#open-dialog-button:hover {
    color: #FFD600;
    text-decoration: underline;
}

dialog::backdrop {
    background-color: #000000b2;
    backdrop-filter: blur(6px);
}

dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(14, 14, 14);
    border: solid 1px #ddaa1f;
    border-radius: 10px;
    width: 90%;
    max-width: 900px;
    font-family: 'Nunito Sans';
    padding-bottom: 20px;
    z-index: 2;

    animation: fade-down 0.3s
}

dialog h1 {
    display: inline-block;
    text-align: left;
    margin-left: 30px;
    margin-bottom: 10px;
    font-size: 2em;
    width: fit-content;
}

#close-dialog-button {
    color: #FFFFFF40;
    font-size: 2em;
    float: right;
    margin: 10px;
    cursor: pointer;

    font-variation-settings: 'opsz' 50;

    transition: color 0.1s ease-out;
}

#close-dialog-button:hover {
    color: #FFFFFF;
}

dialog p {
    text-align: justify;
    margin: 20px 30px;
    text-indent: 30px;
    font-size: 1.1em;
    font-weight: 100;
}

dialog strong {
    color: #f1bc28;
}

@keyframes fade-down {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% - 50px));
    }

    100% {
        opacity: 1;
        transform: translateY(-50%, -50%);
    }
}